[submodule "pyXcode/Helpers/pyLoggingHelper"]
	path = pyXcode/Helpers/pyLoggingHelper
	url = git@github.com:samdmarshall/pyLoggingHelper.git
[submodule "pyXcode/pbProj"]
	path = pyXcode/pbProj
	url = git@github.com:samdmarshall/pbProj.git
[submodule "pyXcode/Helpers/pyxcrunhelper"]
	path = pyXcode/Helpers/pyxcrunhelper
	url = git@github.com:samdmarshall/pyxcrunhelper.git
[submodule "pyXcode/pyXCConfig"]
	path = pyXcode/pyXCConfig
	url = git@github.com:samdmarshall/pyXCConfig.git
[submodule "pyXcode/pyxcscheme"]
	path = pyXcode/pyxcscheme
	url = git@github.com:samdmarshall/pyxcscheme.git
